hello_world
hello_world_static
hello_world_write
libhacker.so
*.o
*.out
*.a
*.dylib
*.so
*.log
*.tmp
*.bak
*.swp
*.swo
*.DS_Store
*.vscode
*.idea
*.vs
*.xcodeproj
*.xcworkspace
*.iml
*.class
*.jar
*.war
*.ear
*.pyc
*.pyo
*.pyd
_site/
.jekyll-cache/
.sass-cache/
.bundle/
