<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title | escape }}</title>
    <link rel="icon" href="{{ '/assets/favicon.svg' | relative_url }}" type="image/svg+xml">
    <link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/article.css' | relative_url }}">
  </head>
  <body>
    <div class="page-content">
      <div class="wrapper">
        <div class="topbar">
          <a href="{{ '/' | relative_url }}">&#8592;</a>
          {% if page.source_code_url %}
          <a href="{{ page.source_code_url }}" target="_blank" rel="noreferrer noopener">Source Code</a>
          {% endif %}
        </div>
        <article class="post-content">
          {{ content }}
        </article>
      </div>
    </div>
    <script>
      document.querySelectorAll('a[href^="http"]').forEach((link) => {
        link.target = "_blank";
        link.rel = "noreferrer noopener";
      });
    </script>
  </body>
</html>
